/* Color Scheme */

  :root {
    /* purples */
    --primary-light: #a37cf0;
    --primary-dark: #682bd7;
    /* blues */
    --secondary-light: #9cd5ff;
    --secondary-dark: #0000cd;
    --secondary-pale: #cfe7ff;
    /* greys */
    --tertiary-light: #b0c4de;
    --tertiary-dark: #696969;
  }


/* Links */

  a {
    text-decoration: none;
    outline: none;
    border-bottom: 1px solid;
    color: var(--secondary-dark);
  }
  
  /* unvisited anchor, with an actual link */
  a:link {
  }
  
  a:visited {
    color: var(--primary-dark);
  }
  
  a:focus, a:hover {
    border-bottom: none;
    color: var(--tertiary-dark);
  }
  
  a:hover {
    border-bottom: none;
    color: var(--tertiary-dark);
  }
  
  a:active {
    color: var(--secondary-light);
    background: #fffeef
  }


/* Headers & General Style */

  h1, h2, h3{
      color: var(--primary-dark);
  }

  span.gallery img{
      padding: 20px;
   }

  ul li::marker{
    color: var(--primary-dark);
  }

  :not(li) > ul > li +li {
    margin-top:10px;
    }

/* Nav bar */

  .menu {
     display: flex;
     align-items:center;
}

  nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
  }
  
  nav ul li {
      display: inline;
      padding: 1rem;
      margin: 1rem;
      line-height: 3em;
  }
  
  nav a:any-link {
    text-decoration: none;
    outline: none;
    padding: 0.5rem;
    width: 100%;;
    height: 100%;
    overflow: hidden;
    border: 2px solid var(--primary-light);
    color: var(--primary-dark);
  }
  
  nav a:link, nav a:visited {
    background: var(--secondary-light);
  }
  
  nav .current a:any-link {
      background: var(--secondary-pale);
    }
  nav a:hover, nav a:focus , nav .current a:hover, nav.current a:focus{
    background: var(--tertiary-light);
  }
  
  nav a:active {
    color: var(--secondary-light);
    background: var(--primary-dark);
  }

/* ADAPTIVE SIZING */

.container {
    display: flex;
    flex-wrap: wrap;
}

.left {
    flex: 3;
    /*float: left;
    width:60%;*/
}

.right {
    flex: 1;
    /*padding: 10px;
    float: right;
    width:40%;*/
}

@media screen and (max-width: 800px) {
  .left, .right {
    flex: none;
    /*width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
   .left {
    width:100%;
    } 
}



/* Source for collapsibles: https://www.w3schools.com/howto/howto_js_collapsible.asp
 
/* Style the button that is used to open and close the collapsible content */
.viewhidden {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  /* font-size: 15px;*/
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .viewhidden:hover {
  background-color: #ccc;
}
.viewhidden:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.hidden {

  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;

}
