/* Source for collapsibles: https://www.w3schools.com/howto/howto_js_collapsible.asp
 
/* Style the button that is used to open and close the collapsible content */
.viewsoln {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  /* font-size: 15px;*/
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .viewsoln:hover {
  background-color: #ccc;
}
.viewsoln:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}


/* Style the collapsible content. Note: hidden by default */
.soln {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
} 

.defn {
  padding: 0px;
  background-color: #f1f1f1;
}

.thm {
  background-color: #e1f1e1;
}
